div#notebook {background-color: #ffffff; 
              border-top: none; 
    background-image: url("img/wbaa_logo.jpg"), url("img/logo_ing.jpeg");
    background-size: 10%, 10%;
    background-position: 5% 5%, 95% 5%;
    background-repeat: no-repeat, no-repeat;
}
